html, body {
    height:100%;
    padding: 0px;
    font-size: 100%;
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

#applicationHeader {
    height: 100%;
    color: #444;
    background-color: #e6e6e6;
    padding-top: 0.25rem;
    padding-left: 1rem;
    margin: 0;
    margin-bottom: 1rem;
}

#applicationdMainContent {
    margin: 2rem;
}

#topContainer {
    display: table;
    height: 100%;
    width: 100%;
}

h2 {
    margin-top: 0px;
}

#clickContainer {
    border: 1px solid darkblue;
    width: 200px;
    height: 100px;
}

#clickInnerContainer {
    border: 1px solid darkgreen;
    width: 100px;
    height: 50px;
    margin: auto auto;
}

.xlight-grey-color {
    color: #CCC;
}

.disabled-cursor {
    cursor: not-allowed;
}

.clickable-icon {
    color: #444;
}

.clickable-icon:hover {
    cursor: pointer;
    color: #0083d7;
}